body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

header, nav {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(255, 5, 5);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #11ff00;
}

th {
    background-color: #007bff;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn-hapus {
    color: red;
    text-decoration: none;
}

fieldset {
    border: 1px solid #f80000;
    padding: 20px;
    background: rgb(0, 149, 255);
    max-width: 500px;
    margin: auto;
}